* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #222;
}

.card {
    width: 30rem;
    height: 15rem;
    background: #333;
    border-radius: 8px;
    border: 2px solid #444;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: rgb(90, 58, 231);
    margin: 5px;
}

.desc {
    color: #fff;
    height: 40%;
    width: 90%;
    text-align: justify;
}

.date {
    color: #fff;
    margin-top: 15px;
}